.title {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    color: #2A77AE;
    margin-bottom: 0;
    margin-top: 90px;
    background-color: black;
    opacity: .8;
}

.game-details {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: #2A77AE;
    background-color: black;
    opacity: .8;
}

@media screen and (max-width: 768px) {
    .title {
        width: 100%;
        text-align: center;
        font-size: 3rem;
        font-weight: bolder;
        color: #2A77AE;
        margin-bottom: 20px;
        margin-top: 180px;
    }
    .game-details {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 760px) {
    .title {
        width: 100%;
        text-align: center;
        font-size: 3rem;
        font-weight: bolder;
        color: #2A77AE;
        margin-bottom: 20px;
        margin-top: 200px;
    }
    .game-details {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 640px) {
    .title {
        width: 100%;
        text-align: center;
        font-size: 3rem;
        font-weight: bolder;
        color: #2A77AE;
        margin-bottom: 20px;
        margin-top: 280px;
    }
    .game-details {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 414px) {
    .title {
        width: 100%;
        text-align: center;
        font-size: 3rem;
        font-weight: bolder;
        color: #2A77AE;
        margin-bottom: 20px;
        margin-top: 220px;
    }
    .game-details {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 411px) {
    .title {
        width: 100%;
        text-align: center;
        font-size: 3rem;
        font-weight: bolder;
        color: #2A77AE;
        margin-bottom: 20px;
        margin-top: 200px;
    }
    .game-details {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 375px) {
    .title {
        width: 100%;
        text-align: center;
        font-size: 3rem;
        font-weight: bolder;
        color: #2A77AE;
        margin-bottom: 20px;
        margin-top: 250px;
    }
    .game-details {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 320px) {
    .title {
        width: 100%;
        text-align: center;
        font-size: 3rem;
        font-weight: bolder;
        color: #2A77AE;
        margin-bottom: 20px;
        margin-top: 200px;
    }
    .game-details {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}