nav {
    height: 90px;
    font-size: 30px;
    color: #2A77AE !important;
}

#root>div>div:nth-child(1)>nav {
    background-color: black !important;
    opacity: .8;
    color: #2A77AE;
}

.message {
    padding-left: 8rem;
    color: #2A77AE !important;
}

.navbar-text {
    color: #2A77AE !important;
}

@media screen and (max-width: 980px) {
    nav {
        font-size: 25px;
    }
    .message {
        padding-left: 0;
    }
}

@media screen and (max-width: 768px) {
    nav {
        height: 15%;
        font-size: 25px;
    }
    .message {
        padding-left: 0;
    }
}

@media screen and (max-width: 640px) {
    nav {
        height: 17%;
        font-size: 25px;
    }
    .message {
        padding-left: 0;
    }
}

@media screen and (max-width: 414px) {
    nav {
        height: 30%;
        font-size: 25px;
    }
    .message {
        padding-left: 0;
    }
}

@media screen and (max-width: 411px) {
    nav {
        height: 25%;
        font-size: 25px;
    }
    .message {
        padding-left: 0;
    }
}

@media screen and (max-width: 375px) {
    nav {
        height: 30%;
        font-size: 25px;
    }
    .message {
        padding-left: 0;
    }
}